@import url(~sanitize.css/sanitize.css);

#main {
    padding: 20px;
} 

.container {
    width: 306px;
    height: 306px;
    border: 3px solid #996633;
    background-color: #dbdbdb;
  }
  
  .is-move {
    border: 2px solid transparent;
    border-color: #6699ff;
  }
  
  .is-move:hover {
    border: 3px solid transparent;
    border-color: #3366FF;
  }
  
  .is-not-move {
    border: 2px solid transparent;
    border-color: #dbdbdb;
  }
  
  .piece {
    width: 25%;
    height: 25%;
    font-size: 1.8rem;
    position: absolute;
    transition-property: all;
    transition-duration: 0.3s;
  }
  
  
  .incorrect {
    color: #808080;
  }
  
  .correct {
    color: #ff3399;
  }
  
  .num {
    font-size: 1.6em;
  }